.subhead a {
    display: inline-block;
    
}

.categories {
    padding-top: 1em;
    padding-left: 1em;
    
}

.catcard {
    margin-bottom: 1em;
    background: #ede5f9;
    text-align: center;
}

mat-card-header {
    justify-content: center;
}

.mat-card-title {
    font-weight: bold;
}

.mat-card-subtitle {
    font-weight: bold;
}

.mat-card-content {
    font-size: 12px;
}



